/*UI tabs*/
.ui-tabs-nav {
	z-index: 1;
	bottom: -1px;
	overflow: hidden;
}
  .ui-tabs-nav ul,
  .ui-tabs-nav li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none; 
    font-size: 100%;
    list-style: none;
	  overflow: hidden;
  }
    .ui-tabs-nav li {
	    float: left;
	    border: solid #d3d3d3;
	    border-width: 1px 1px 0;
	    margin: 0 0 0 2px !important;
    }
    
    .ui-tabs-nav li a {
	    float: left;
	    font-size: 12px;
	    font-weight: normal;
	    text-decoration: none;
	    padding: 0 5px;
	    color: #666;
	    background: #ddd;
	    margin: 0;
    }
    
    .ui-tabs-nav li a:hover {
	    background: #dadada url(../img/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
	    color: #212121;
    }
    
    .ui-tabs-nav li.ui-tabs-selected a,
    .ui-tabs-nav li.ui-tabs-selected a:hover {
	    background: #fff;
	    color: #990000;
    }
    
    .edit_node_tabs_nav li a {
      cursor: move;
    }
    
.node_tabs_wrapper  .ui-tabs-panel {
	border: 1px solid #d3d3d3;
	background: #ffffff;
	color: #222222;
	padding: 1.5em 1.7em;	
	font-size: 1.1em;
}
  .node_tabs_wrapper fieldset.ui-tabs-panel {
    margin: 0;
  }
  .node_tabs_wrapper .ui-tabs-panel legend {
    display: none;
  }
  
  .node_tabs_wrapper .ui-tabs-panel input[type="text"],
  .node_tabs_wrapper .ui-tabs-panel textarea {
    border: #888 solid;
    border-width: 1px;
    padding: 2px;
  }
  .node_tabs_wrapper .ui-tabs-panel textarea {
    height: 200px;
  }

.ui-tabs-hide {
	display: none !important;/* for accessible hiding: position: absolute; left: -99999999px*/;
}
